        :root {
            --accent-color: rgb(216, 130, 25)
        }
        
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding-top: 150px;
        }

        h1 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:rgb(219, 192, 159);
            width: 100%;
            z-index: 100;
            position: fixed;
            top: 0;
        }

        ul li {
            float:left;
        }

        ul li a {
            display: block;
            color: rgb(9, 2, 2);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        ul li a:hover {
            background-color: var(--accent-color);
        }
        ul li a:active {
            background-color: rgb(91, 144, 100);
        }

        main {
            background-color: rgb(246, 234, 219);
            padding: 30px;
            width: 70%;
            margin: auto;
            margin-top: 50px;
            position: relative;
        }

        #mug {
            width: 150px;
            position: absolute;
            right: -20px;
            top: -90px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .about-image {
            width: 40%;
            float: left;
            margin: 40px;
            border-radius: 5%;
        }

        .about-us {
            width: 40%;
            float: left;
        }

        .about-label {
            margin-bottom: 3px;
            color: rgb(96, 91, 79);
        }

        h2 {
            margin-top: 0;
        }

        p {
            color: rgb(84, 121, 91);
        }

        footer {
            background-color: var(--accent-color);
            color: rgb(246, 234, 219);
            margin-top: 40px;
            height: 100px;
            text-align: center;
            padding-top: 44px;
        }